<h1>All Artists</h1>
<p><%= link_to "New artist", new_artist_path %></p>
<ul>
<%= @artists.each do |artist| %>
  <li>
    <a><%= link_to artist.name, artist_path(artist) %></a>
    <a><%= link_to "Edit", "/artists/#{artist.id}/edit" %></a>
  </li>
<% end %>
</ul>
